@model IEnumerable<Music_Farm_v2.ViewModels.PlayHistoryViewModel>

<table class="table table-bordered">
    <tr>
        <th colspan="3">Currently Queued</th>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TrackName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrackName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @{ 
                    Html.RenderAction("GetUpVoteCount", "Vote", new { PlayHistoryId = item.PlayHistoryId });
                }
                @{ 
                    Html.RenderAction("GetDownVoteCount", "Vote", new { PlayHistoryId = item.PlayHistoryId });
                }
                @{
                    Html.RenderAction("GetCommentCount", "Comment", new { PlayHistoryId = item.PlayHistoryId });
                } 
                @{
                    <i>@Ajax.ActionLink(" ", "AddFavourite", "Favourite", new { ID = item.TrackId }, null, new { @class = "fa fa-heart-o", @style = "font-size:15px;color:red;" })</i>
                }
                @{
                    if (item.UserName.ToLower() == ViewBag.ThisUser)
                    {
                        <i>@Ajax.ActionLink(" ", "StopTrack", "PlayHistory", new { ID = item.PlayHistoryId }, null, new { @class = "fa fa-eject", @style = "font-size:15px;color:black;" })</i>
                    }
                }
            </td>
        </tr>
    }

</table>

