@*@using PagedList
@using PagedList.Mvc*@

@model IEnumerable<Music_Farm_v2.ViewModels.PlayhistoryViewModel>
@{
    ViewBag.Title = "Farmer";
}

<h2>Music Finder</h2>

@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <div class="well well-sm form-inline">
        <table class="table">
            <tr>
                <td>Search by Name:</td>
                <td>@Html.TextBox("FilterName", ViewBag.FilterName as string)</td>
            </tr>
            <tr>
                <td>Search by Artist:</td>
                <td>@Html.TextBox("FilterArtist", ViewBag.FilterArtist as string)</td>
            </tr>
            <tr>
                <td>Search by Genre:</td>
                <td>@Html.TextBox("FilterGenre", ViewBag.FilterGenre as string)</td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Filter" class="btn btn-sm btn-info" /></td>
            </tr>
        </table>
</div>
}

<table class="table table-bordered">
    <tr>
        <th colspan="3">Search Results</th>
        <th>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.track_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_id)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.track_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.user_id)
                </td>
                <td>
                    @Html.ActionLink(" Vote", "Vote", null, 1, new { data_modal = "", @class = "btn btn-xs btn-info" })
                    @Html.ActionLink(" Comments", "Comments", 1, new { data_modal = "", @class = "btn btn-xs btn-info" })
                </td>
            </tr>
        }

</table>

@*@Html.PagedListPager((IPagedList<Music_Farm_v2.Models.Category.CategoryViewModel>)Model, page => Url.Action("Index", new { ViewBag.FilterString, ViewBag.ShowInActive, page }))*@